.grid {
  background: top left / contain no-repeat
    url("../../../assets/vecteezy_chart-graphics-diagram-data-visualization_7024700.jpg");
  height: 100vmin;
}
@media screen and (min-width: 1000px) {
  .grid {
    height: 100vmax;
  }
}
@media screen and (min-width: 1400px) {
  .grid {
    // background-position: left;
  }
}
